
        <div class="game">
            <div class="controls">
                <button>Start</button>
                <div class="stats">
                    <div class="moves">0 jogadas</div>
                    <div class="timer">tempo: 0 sec</div>
                </div>
            </div>
            <div class="board-container">
                <div class="board" data-dimension="4"></div>
                <div class="win">Parabéns!</div>
            </div>
        </div>
        <script src="/game.js" defer></script>
<footer style="
    margin-top: 265px;
">
    <td align="center">
        <p>
        <img src="https://tfcvwz.vteximg.com.br/arquivos/content-redes.png" style="display: block; max-width: 100%; transform: translate(0px, 480px);">
        </p>
        
        <div style="position: relative; top: 425px; margin-left: 78px;">
        <div style="display: inline-block;">
        <a href="https://pt-br.facebook.com/vizzelaoficial/" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-facebook.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;">
        <a href="https://www.instagram.com/vizzelaoficial/" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-instagram.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;">
        <a href="https://www.pinterest.co.uk/vizzelaoficial/" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-pinteres.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;">
        <a href="https://www.tiktok.com/@vizzelaoficia" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-tiktok.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;max-width: 100%">
        <a href="https://www.youtube.com/channel/UCjW835eNjUmrYwFSeCvTY-A" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-youtube.png?v=1" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        </div>
    </td>
    <div class="topnav">
                <a href="#home" class="active">VIZZELA</a>
                <!-- Navigation links (hidden by default) -->
                <div id="myLinks">
                    <a href="/">Inicio</a>
                    <a href="https://www.vizzela.com.br/" target="_blank">Loja Virtual</a>
                    <a href="https://www.vizzela.com.br/institucional/atendimento" target="_blank">Contato</a>
                    <a href="https://www.vizzela.com.br/sobre-nos" target="_blank">Sobre Nós</a>
                </div>
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
</footer>