
    <!--QUIZ-QUESTION-->

    <div class="body_quiz">

        <div class="quiz">
        
            <div class="quiz_body">
                <div id="questions">

              <!-- <ul class="option_group">
              <li class="option">option 1</li>
              <li class="option">option 2</li>
              <li class="option">option 3</li>
              <li class="option">option 4</li>
              </ul> -->
                </div>

                <button class="btn-next" onclick="next()">Próxima</button>
            </div>
        </div>
    </div>

<footer style="
    margin-top: 265px;
">
    <td align="center">
        <p style="display: block; text-decoration: none;">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/content-redes.png" style="display: block; max-width: 130%; transform: translate(0px, -264px);">
        </p>
        
        <div style="position: relative; top: -320px; margin-left: 90px;">
        <div style="display: inline-block;">
        <a href="https://pt-br.facebook.com/vizzelaoficial/" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-facebook.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;">
        <a href="https://www.instagram.com/vizzelaoficial/" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-instagram.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;">
        <a href="https://www.pinterest.co.uk/vizzelaoficial/" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-pinteres.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;">
        <a href="https://www.tiktok.com/@vizzelaoficia" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-tiktok.png" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        
        <div style="display: inline-block;max-width: 100%">
        <a href="https://www.youtube.com/channel/UCjW835eNjUmrYwFSeCvTY-A" target="_blank">
        <img src="https://tfcvwz.vteximg.com.br/arquivos/redes-youtube.png?v=1" style="display: block;max-width: 100%;background-color:#fff;">
        </a>
        </div>
        </div>
    </td>
        <div class="topnav">
                <a href="#home" class="active">VIZZELA</a>
                <!-- Navigation links (hidden by default) -->
                <div id="myLinks">
                    <a href="/">Inicio</a>
                    <a href="https://www.vizzela.com.br/" target="_blank">Loja Virtual</a>
                    <a href="https://www.vizzela.com.br/institucional/atendimento" target="_blank">Contato</a>
                    <a href="https://www.vizzela.com.br/sobre-nos" target="_blank">Sobre Nós</a>
                </div>
                <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
</footer>

    <script src="quiz.js"></script>
    <script src="userinfo.js"></script>
